@import '_mixin.scss';

.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--color-text);
  &__title {
    margin-bottom: 12px;
  }

  &__accordion {
    margin-bottom: 50px;
  }

  &__tab {

  }
}

.accordion {
  &__unit {

  }
  &__btn {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0;
    margin-top: -1px;
    padding: 40px 120px 40px 40px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    text-align: left;
  }
  &__btn:hover {
    color: #9d5cd0;
  }
  &__btn:focus {
    color: #ffffff;
  }
  &__btn:focus .accordion__title::before {
    transform: translate(-50%, -50%) scaleX(1);
  }
  &__descr {
    margin-bottom: 15px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 60px;
    height: 60px;
    transform: translateY(-50%) rotate(-180deg);
    transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
  }
  &__content {
    visibility: visible;
    border-color: lightgray;
  }
  &__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__list {
    padding-left: 0;
    column-count: 3;
  }
  &__item {
    width: calc(100% / 3 - 20px);
  }
  &__link {
    margin-bottom: 10px;
    &_active {
      color: var(--color-fill);
    }
  }
  &__plug {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 155px;
    min-height: 335px;
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 130px;
      border: 2px solid #B7B7B7;
      background-color: transparent;
    }
    &-img::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
      background-color: #B7B7B7;
    }
    &-text {
      margin-bottom: 5px;
    }
    &-link {
      color: var(--color-fill);
    }
  }
}
.question:first-child .accordion__btn:hover,
.accordion__btn:hover,
.is-active.question:first-child .accordion__btn,
.is-active.question .accordion__btn {
  border-color: var(--color-fill);
}

.tab {
  &__img {
    min-width: 290px;
    min-height: 181px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__img {
    margin-bottom: 20px;
    width: 290px;
    height: 181px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__info {
    margin-bottom: 5px;
    color: var(--color-gray-text);
  }
}
// переделать!
@media (max-width: 1024px) {
  .accordion__item {
    width: calc(100% / 2 - 30px);
  }
}