@import '_mixin.scss';

.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--color-text);
  &__title {
    margin-bottom: 13px;
  }
  &__text {
    display: none;
  }
  &__accordion {
    margin-bottom: 50px;
  }

  &__tab {

  }
}

.accordion {
  &__unit {
  }
  &__unit .accordion__btn {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0;
    margin-top: -1px;
    padding: 20px 0 16px;
    border-top: 1px solid var(--color-gray-fill);
    border-bottom: 1px solid transparent;
    text-align: left;
  }
  &__unit:last-child {
    border-bottom: 1px solid var(--color-gray-fill);
  }
  &__btn:hover {
    color: var(--color-fill);
  }
  &__btn:focus {
    color: var(--color-white);
  }
  &__btn:focus .accordion__title::before {
    transform: translate(-50%, -50%) scaleX(1);
  }
  &__descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 2em;
  }
  &__icon {
    position: absolute;
    top: 30%;
    right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: var(--color-gray-fill);
    transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
  }

  &__icon::after {
    content: '';
    position: absolute;
    top: 33%;
    left: 29%;
    width: 12px;
    height: 7px;
    background-image: url('../img/arrow-down.svg');
    @include backgroundCenter
  }
  &__content {
    visibility: visible;
    border-color: lightgray;
  }
  &__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__list {
    padding-left: 0;
    column-count: 1;
  }
  &__link {
    font-size: 1em;
    line-height: 2em;
    color: inherit;
    &_active {
      color: var(--color-fill);
    }
  }
  &__plug {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0;
    padding-left: 130px;
    min-height: 140px;
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 110px;
      border: 2px solid #B7B7B7;
      background-color: transparent;
    }
    &-img::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
      background-color: #B7B7B7;
    }
    &-title {
      font-weight: 600;
      font-size: 1.125em;
      line-height: 2em;
    }
    &-text {
      margin-bottom: auto;
    }
    &-link {
      color: var(--color-fill);
    }
  }
}

.question:first-child .accordion__btn:hover,
.accordion__btn:hover,
.is-active.question:first-child .accordion__btn,
.is-active.question .accordion__btn {
  border-color: var(--color-fill);
}

.is-active>.accordion__btn>.accordion__icon::after {
  transform: scale(1, -1);
}

// стили плагина
.ac {
  margin: 0;
  border: none;
  background-color: transparent;
}
.ac .ac-trigger::after {
  display: none;
}

.tab {
  &__img {
    min-width: 290px;
    min-height: 181px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__img {
    margin-bottom: 14px;
    min-width: 290px;
    min-height: 181px;
    object-fit: contain;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 1.44em;
    line-height: 2em;
  }
  &__info {
    margin-bottom: 10px;
    font-size: 0.75em;
    line-height: 1em;
    color: var(--color-gray-text);
  }
  &__text {
    font-size: 1em;
    line-height: 2em;
  }
}


@media (min-width: 480px) {
  .catalog {
    padding-top: 77px;
    padding-bottom: 65px;
    &__text {
      display: block;
      margin-bottom: 20px;
      font-size: 1em;
      line-height: 2em;
    }
    &__accordion {
      margin-bottom: 49px;
    }
  }

  .accordion {
    &__unit .accordion__btn {
      padding: 34px 0 32px;
    }
    &__descr {
      font-size: 1.5em;
    }
    &__icon {
      top: 28%;
      right: 0;
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
    &__icon::after {
      top: 43%;
      left: 32%;
      width: 18px;
      height: 12px;
    }
    &__wrap {
      padding-top: 26px;
      padding-bottom: 20px;
    }
    &__item {
      min-width: 288px;
    }
    &__list {
      column-count: 2;
      column-gap: 65px;
    }
  }
  .tab {
    &__img {
      margin-bottom: 22px;
    }
    &__title {
      margin-bottom: 4px;
    }
    &__info {
      margin-bottom: 9px;
    }
  }
}

@media (min-width: 750px) {
  .accordion {
    &__list {
      padding-left: 0;
      min-height: 283px;
      column-count: 3;
      column-gap: 65px;
    }
  }
}

@media (min-width: 769px) {
  .catalog {
    padding-bottom: 27px;
    &__text {
      margin-bottom: 39px;
    }
    &__box {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    &__accordion {
      width: 47.3%;
    }
    &__tab {
      width: 47.2%;
    }
  }
  .accordion {
    &__wrap {
      padding-bottom: 25px;
    }
    &__list {
      min-height: 283px;
      column-count: 1;
      column-gap: 84px;
    }
  }
  .tab {
    &__img {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1014px) {
  .accordion {
    &__list {
      min-height: 283px;
      column-count: 2;
      column-gap: 84px;
    }
  }
}