@import '_mixin.scss';

@font-face {
	font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
	src: local('open-sans-regular'),
		url('../fonts/open-sans-400.woff2') format('woff2'),
		url('../fonts/open-sans-400.woff') format('woff');
}

@font-face {
	font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
	src: local('open-sans-bold'),
		url('../fonts/open-sans-600.woff2') format('woff2'),
		url('../fonts/open-sans-600.woff') format('woff');
}
@font-face {
	font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
	src: local('open-sans-extrabold'),
		url('../fonts/open-sans-700.woff2') format('woff2'),
		url('../fonts/open-sans-700.woff') format('woff');
}

:root {
  // цвет
  --color-black: #000;
  --color-white: #FFF;
  --color-very-light-fill: #D1A9F0;
  --color-light-fill: #C283F3;
  --color-fill: #9D5CD0;
  --color-dark-fill: #7943A4;
  --color-light-text: #fff;
  --color-gray-text: #333;
  --color-text: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}
// пересилить бутстрап стили
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html body {
  font-family: 'open-sans', sans-serif;
}

div .active {
  display: block;
}

div .deactivate {
  display: none;
}

img {
  width: 100%;
}

.sprite {
  display: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  background-color: transparent;
}
