@import '_mixin.scss';

.contacts {
  color: var(--color-text);
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__address {
    margin-bottom: 17px;
    font-style: normal;
  }
  &__descr {
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.5em;
  }
  &__address-info {
    font-size: 0.875em;
    line-height: 1em;
  }

  &__connection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &__sub-title {
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 2em;
  }
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__link,
  &__link>svg {
    width: 50px;
    height: 50px;
  }
  &__map {
    padding: 0;
    width: auto;
    height: 320px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  &__label {
    position: relative;
  }
  &__label {
    margin-bottom: 20px;
  }
  &__input {
    padding: 10px 23px;
    border: 1px solid var(--color-text);
    border-radius: 100px;
    width: 100%;
  }
  &__input::placeholder {
    color: var(--color-gray-text);
  }
  &__btn {
    margin-right: auto;
    padding: 12px 33px;
    border: 2px solid var(--color-fill);
    border-radius: 100px;
    font-weight: 600;
    font-size: 0.725em;
    line-height: 1em;
    color: var(--color-fill);
    &_full-text {
      display: none;
    }
  }
}

@media (min-width: 480px) {
  .contacts {
    border: 1px solid #CACACA;
    &__descr {
      margin-bottom: 10px;
      font-size: 1.5em;
    }
    &__address-info {
      font-size: 1em;
    }
    &__sub-title {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 1.5em;
    }
    &__link,
    &__link>svg {
      width: 40px;
      height: 40px;
    }
  }
  .form {
    &__label {
      max-width: 323px;
    }
  }
}

@media (min-width: 750px) {
  .contacts {
    border: 1px solid #CACACA;
    padding-top: 40px;
    &__address {
      margin-bottom: 37px;
    }
    &__connection {
      margin-bottom: 37px;
    }
    &__link,
    &__link>svg {
      width: 40px;
      height: 40px;
    }
    &__map {
      height: 700px;
    }
  }
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 20px;
    &__label {
      margin: 0;
    }
    &__input {
      padding: 15px 22px;
    }
    &__btn {
      padding: 15px 27px;
      font-weight: 700;
      font-size: 1.125em;
      &_full-text {
        display: inline;
      }
    }
  }
}

@media (min-width: 1014px) {
  .form {
    display: flex;
    flex-direction: row;
    &__label {
      width: 29.4%;
    }
    &__input {
      padding: 15px 22px;
    }
    &__btn {
      width: 37.4%;
    }
  }
}