@import '_mixin.scss';

.events {
  &__title {
    margin-bottom: 12px;
  }
  &__swiper {
    // position: relative;
  }
  // ПАЧИМУ КНОПКА СКРЫТА ЧАСТИЧНО, НАД РАЗОБРАТЬСЯ
  &__button-next {
    position: absolute;
    top: 50%;
    right: -25px;
    z-index: 100;
    display: none;
    width: 50px;
    height: 50px;
  }
  &__button-next::after {
    content: '';
    position: absolute;
    top: 33%;
    left: 29%;
    width: 12px;
    height: 7px;
    background-image: url('../img/arrow-right.svg');
    @include backgroundCenter
  }

  &__wrapper {
    margin-bottom: 20px;
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 218px 18px 50px 22px;
    border: 1px solid #CACACA;
    min-height: 683px;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    &_bg-one {
      background-image: url('../img/events-one-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/events-one-320@2x.jpg");
      }
    }
    &_bg-two {
      background-image: url('../img/events-two-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/events-two-320@2x.jpg");
      }
    }
    &_bg-three {
      background-image: url('../img/events-three-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/events-three-320@2x.jpg");
      }
    }
    &_bg-four {
      background-image: url('../img/events-four-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/events-four-320@2x.jpg");
      }
    }
    &_bg-five {
      background-image: url('../img/events-five-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/events-five-320@2x.jpg");
      }
    }
  }
  &__info {
    margin-left: auto;
    margin-bottom: 11px;
    text-align: right;
    font-size: 0.75em;
    line-height: 1.2em;
    color: var(--color-gray-text);
  }
  &__card-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  &__text {
    margin-bottom: auto;
    font-size: 1em;
    line-height: 2em;
  }
  &__link {
    margin-right: auto;
    padding: 4px 6px;
    border-bottom: 1px solid var(--color-fill);
    color: var(--color-fill);
  }
}
.events__swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.events__swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px 7.5px 0;
}

.events__swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.events__swiper  .swiper-pagination-bullet-active {
  background-color: #666666;
}

.events .events__pagination {
  position: relative;
}

@media (min-width: 480px) {
  .events {
    &__card {
      padding: 215px 18px 50px 35px;
    }
    &__info {
    margin-bottom: 5px;
    }
    &__card {
      min-height: 583px;
    }
    &__card-title {
      margin-right: 10px;
    }
    &__text {
      margin-right: 10px;
    }
    &__link {
      padding: 4px 0px;
    }
  }
  .events__swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 20px 8px 0;
  }
}
@media (min-width: 750px) {
  .events {
    &__card {
      min-height: 683px;
    }
  }
}

@media (min-width: 1025px) {
  .events {
    &__button-next {
      display: block;
    }
    &__pagination {
      display: none;
    }
  }
}
