@import '_mixin.scss';

.footer {
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: var(--color-black);
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    width: 210px;
  }
  &__svg {
    width: 50px;
    height: 50px;
  }
  &__logo {
    width: 97px;
    height: 22px;
  }
}