@import '_mixin.scss';

.gallery {
  padding-top: 50px;
  color: var(--color-light-text);
  background-image: url('../img/gallery-bg-320.jpg');
  @include backgroundCenter;
  &__box,
  &__content-box,
  &__swiper-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 12px;
    color: inherit;
  }
  &__label {
    margin-bottom: 15px;
  }
  &__selects {
    margin-bottom: 30px;
    padding: 5px 15px;
    width: 100%;
    border: 1px solid var(--color-light-text);
    border-radius: 5px;
    color: inherit;
    background-color: transparent;
  }
  &__checkbox {
    max-width: 176px;
    border-radius: 10px;
    color: var(--color-light-text);
  }
  &__label {
    position: relative;
    padding-left: 21px;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
  }
  &__label:hover {
    color: var(--color-light-fill);
  }
  &__input {
    display: none;
  }
  &__input + span {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    text-align: center;
    border: 1px solid var(--color-light-text);
  }
  &__input:checked + span,
  &__label:hover span,
  &__input + span:hover {
    border-color: var(--color-light-fill);
  }
  &__input + span::before {
    content: '\00B7';
    position: absolute;
    top: 65%;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 30px;
    line-height: 0;
    opacity: 0;
    color: var(--color-light-fill);
  }
  &__input:checked + span::before {
    opacity: 1;
  }
  &__swiper-box {
    width: 100%;
  }
  &__swiper-nav-box {
    display: flex;
    justify-content: center;
  }
  &__swiper {
    margin-bottom: 20px;
    width: 100%;
  }
  &__slide {
    width: 100%;
    min-height: 367px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &_bg-one {
      background-image: url('../img/gallery-one-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-one-320@2x.jpg");
      }
    }
    &_bg-two {
      background-image: url('../img/gallery-two-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-two-320@2x.jpg");
      }
    }
    &_bg-three {
      background-image: url('../img/gallery-three-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-three-320@2x.jpg");
      }
    }
    &_bg-four {
      background-image: url('../img/gallery-four-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-four-320@2x.jpg");
      }
    }
    &_bg-five {
      background-image: url('../img/gallery-five-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-five-320@2x.jpg");
      }
    }
    &_bg-six {
      background-image: url('../img/gallery-six-320.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-six-320@2x.jpg");
      }
    }
  }

  &__button-next,
  &__button-prev {

  }
  &__button-next,
  &__button-prev,
  &__button-next svg,
  &__button-prev svg{
    width: 30px;
    height: 30px;
  }
  &__pagination {
    margin: 0 11px;
  }
}
//для пересиливания пагинации слайдера
.gallery__swiper-nav-box .gallery__pagination {
  position: relative;
  bottom: 0;
  padding-top: 6px;
  width: auto;
}

// gallery-selects
// так как селектор кастомный, приходится использовать стили
// из библиотеки
.choices {
  width: 100%;
  // font-weight: normal;
  // font-size: 16px;
  // line-height: 32px;
}
.choices[data-type*=select-one]:after {
  margin-top: -6px;
  border-width: 0px;
  border-right: 1px solid var(--color-light-text);
  border-top: 1px solid var(--color-light-text);
  height: 8px;
  width: 8px;
  transform: rotate(135deg);
  transition: transform 0.3s;
}
.choices[data-type*=select-one].is-open:after {
  margin-top: -3px;
  border-width: 0px;
  border-right: 1px solid var(--color-light-text);
  border-top: 1px solid var(--color-light-text);
  transform: scale(1, -1) rotate(135deg);
}
.choices__list--single {
  padding: 0;
}
.choices__list--dropdown .choices__list .is-selected {
  display: none;
}
.choices__inner,
.is-open .choices__inner {
  position: relative;
  border: 1px solid var(--color-light-text);
  padding: 3px 10.5px 5px 13.75px;
  border-radius: 6px;
  height: 40px;
  min-height: 36px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-text);
  background-color: transparent;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.is-focused .choices__inner,
.is-open .choices__inner {
  border: 1px solid var(--color-light-text);
}
// .choices__list--single {
//   padding-bottom: 2px;
// }
// .choices__placeholder {
//   opacity:  1;
// }
// .choices__list .choices__list--dropdown .is-active  {
//   transition: visibility 5s ease;
// }
.choices__list--dropdown,
.is-open .choices__list--dropdown {
  top: 103%;
  z-index: 3;
  border: 1px solid var(--color-gray-text);
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  // font-weight: normal;
  // font-size: 16px;
  line-height: 32px;
  color: var(--color-gray-text);
  background-color: var(--color-black);
}
.choices__list--dropdown .choices__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 2px 20px;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted:not(:first-child),
.choices__list--dropdown .choices__item--selectable.is-highlighted + .choices__item {
  border-top: 1px solid var(--color-gray-text);
}
.choices__list--dropdown .choices__item:not(:first-child),
.choices__list--dropdown .choices__item + .choices__item {
  // padding-top: 3px;
  border-top: 1px solid transparent;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--color-light-text);
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 321px) {
  .gallery__slide {
    min-height: 330px;
    &_bg-one {
      background-image: url('../img/gallery-one-768.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-one-768@2x.jpg");
      }
    }
    &_bg-two {
      background-image: url('../img/gallery-two-768.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-two-768@2x.jpg");
      }
    }
    &_bg-three {
      background-image: url('../img/gallery-three-768.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-three-768@2x.jpg");
      }
    }
    &_bg-four {
      background-image: url('../img/gallery-four-768.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-four-768@2x.jpg");
      }
    }
    &_bg-five {
      background-image: url('../img/gallery-five-768.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-five-768@2x.jpg");
      }
    }
    &_bg-six {
      background-image: url('../img/gallery-six-768.jpg');
      @media (min-resolution: 2dppx) {
        background-image: url("../img/gallery-six-768@2x.jpg");
      }
    }
  }
}

@media (min-width: 576px) {
  .gallery {
    &__swiper-box {
      flex-direction: column-reverse;
    }
    &__swiper-nav-box {
      margin-right: auto;
    }
  }
}

@media (min-width: 769px) {
  .gallery {
    &__box {
      flex-direction: row;
    }
    &__swiper-box {
      width: 75%;
    }
    &__slide {
      min-height: 315px;
      &_bg-one {
        background-image: url('../img/gallery-one-1024.jpg');
        @media (min-resolution: 2dppx) {
          background-image: url("../img/gallery-one-1024@2x.jpg");
        }
      }
      &_bg-two {
        background-image: url('../img/gallery-two-1024.jpg');
        @media (min-resolution: 2dppx) {
          background-image: url("../img/gallery-two-1024@2x.jpg");
        }
      }
      &_bg-three {
        background-image: url('../img/gallery-three-1024.jpg');
        @media (min-resolution: 2dppx) {
          background-image: url("../img/gallery-three-1024@2x.jpg");
        }
      }
      &_bg-four {
        background-image: url('../img/gallery-four-1024.jpg');
        @media (min-resolution: 2dppx) {
          background-image: url("../img/gallery-four-1024@2x.jpg");
        }
      }
      &_bg-five {
        background-image: url('../img/gallery-five-1024.jpg');
        @media (min-resolution: 2dppx) {
          background-image: url("../img/gallery-five-1024@2x.jpg");
        }
      }
      &_bg-six {
        background-image: url('../img/gallery-six-1024.jpg');
        @media (min-resolution: 2dppx) {
          background-image: url("../img/gallery-six-1024@2x.jpg");
        }
      }
    }
  }
}