@import '_mixin.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__row-up {
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: var(--color-black);
  }
  &__row-down {
    background-color: transparent;
  }
  &__row-box {
    display: flex;
    justify-content: space-between;
  }
  &__burger {
    position: relative;
    z-index: 3;
    width: 25px;
    height: 18px;
  }
  &__logo {
    margin-right: 6px;
    width: 97px;
    height: 21px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    opacity: 0;
  }
  &__dropdown {
    display: none;
    flex-wrap: wrap;
    margin-left: -4px;
    width: calc(1350/1600 * 100%);
  }
  &__search-toggle {
    position: relative;
    z-index: 4;
    border: transparent;
    width: 18px;
    height: 18px;
    background-color: transparent;
    @include transition;
  }
  &__toggle-svg {
    display: none;
    width: 18px;
    height: 18px;
    @include transition;
  }
  &__search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 40px 57px 20px;
    width: 100vw;
    min-height: 75px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.8;
    transform: scaleX(0) translateX(-50%);
  }
  &__search-toggle rect,
  &__search-toggle path {
    @include transition;
  }
  &__search-toggle:focus rect,
  &__search-toggle:focus path {
    fill: var(--color-fill);
  }
  &__search-toggle:active rect,
  &__search-toggle:active path {
    fill: var(--color-dark-fill);
  }
}
.nav {
  color: var(--color-light-text);
  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    padding: 48px 21px;
    width: 100%;
    min-height: 355px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__item {
    position: relative;
    margin-bottom: 0;
  }
  &__link {
    position: relative;
    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    color: inherit;
    @include transition;
  }

  &__btn {
    position: relative;
    z-index: 10;
    align-items: center;
    margin-right: auto;
    padding: 11px 20px 11px 35px;
    border: 2px solid var(--color-fill);
    border-radius: 100px;
    white-space:nowrap;
    color: var(--color-light-text);
    @include transition;
  }
  &__icon {
    display: inline-flex;
    width: 13px;
    height: 13px;
  }
  &__icon path {
    @include transition;
  }
  &__btn::after,
  &__link::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -6px;
    bottom: -4px;
    left: -6px;
    background-color: transparent;
    @include transition;
  }
  &__btn::after {
    border-radius: 100px;
  }
  &__link:focus,
  &__btn:focus,
  &__link:focus::after,
  &__btn:focus::after {
    color: var(--color-light-text);
    background-color: var(--color-dark-fill);
  }
  &__link:active,
  &__btn:active {
    color: var(--color-dark-fill);
    fill: var(--color-dark-fill);
  }
  &__link:active::after,
  &__btn:active::after {
    background-color: transparent;
  }
}

.dropdown {
  color: var(--color-light-text);
  &__element:not(:last-child) {
    margin-right: calc(94/1350 * 100%);
  }
  &__btn {
    position: relative;
    z-index: 2;
    padding: 22px 15px 22px 0;
    font-weight: 400;
    font-size: 1.125em;
    color: inherit;
    @include transition;
  }
  &__icon {
    position: absolute;
    top: 34%;
    right: 0;
    width: 12px;
    height: 7px;
  }
  &__icon-svg {
    width: 12px;
    height: 7px;
    @include transition;
    &_active {
      transform: scale(1, -1);
    }
  }
  &__icon-svg path {
    @include transition;
    transition-duration: 0.2s;
  }
  &__btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 30%;
    right: -3px;
    bottom: 22%;
    left: -3px;
    background-color: transparent;
    @include transition;
  }
  &__btn:hover,
  &__btn:hover path {
    color: var(--color-light-fill);
    stroke: var(--color-light-fill);
  }
  &__btn:focus::after {
    background-color: var(--color-dark-fill);
  }
  &__btn:active,
  &__btn:hover path {
    color: var(--color-dark-fill);
    stroke: var(--color-dark-fill);
  }
  &__btn:hover::after,
  &__btn:active::after {
    background-color: transparent;
  }
  &__box {
    display: none;
    position: absolute;
    padding: 40px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);;
    @include transition;
  }
  &__scrollbar {
    width: 220px;
    height: 220px;
  }
  &__item {
    position: relative;
    padding: 10px 14px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    @include transition;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-dark-fill);
    &_bg-1-1 {
      background-image: url('../img/header1-1.jpg');
    }
    &_bg-1-2 {
      background-image: url('../img/header1-2.jpg');
    }
    &_bg-1-3 {
      background-image: url('../img/header1-3.jpg');
    }
    &_bg-1-4 {
      background-image: url('../img/header1-4.jpg');
    }
    &_bg-2-1 {
      background-image: url('../img/header2-1.jpg');
    }
    &_bg-2-2 {
      background-image: url('../img/header2-2.jpg');
    }
    &_bg-2-3 {
      background-image: url('../img/header2-3.jpg');
    }
    &_bg-2-4 {
      background-image: url('../img/header2-4.jpg');
    }
    &_bg-3-1 {
      background-image: url('../img/header3-1.jpg');
    }
    &_bg-3-2 {
      background-image: url('../img/header3-2.jpg');
    }
    &_bg-3-3 {
      background-image: url('../img/header3-3.jpg');
    }
    &_bg-3-4 {
      background-image: url('../img/header3-4.jpg');
    }

    &_bg-4-1 {
      background-image: url('../img/header4-1.jpg');
    }
    &_bg-4-2 {
      background-image: url('../img/header4-2.jpg');
    }
    &_bg-4-3 {
      background-image: url('../img/header4-3.jpg');
    }
    &_bg-4-4 {
      background-image: url('../img/header4-4.jpg');
    }
    &_bg-5-1 {
      background-image: url('../img/header5-1.jpg');
    }
    &_bg-5-2 {
      background-image: url('../img/header5-2.jpg');
    }
    &_bg-5-3 {
      background-image: url('../img/header5-3.jpg');
    }
    &_bg-5-4 {
      background-image: url('../img/header5-4.jpg');
    }
  }
  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    opacity: 0;
    @include transition;
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__item:focus,
  &__item:hover {
    outline-color: var(--color-fill);
  }
  &__item:active {
    outline-color: var(--color-fill);
  }

  &__item:active::before {
    opacity: 1;
  }
  &__link {
    font-size: 0.875em;
    color: white;
  }
}
.search {
  display: flex;
  &__box {
    display: flex;
    margin-top: 2px;
    padding: 48px 21px;
    width: 100%;
  }
  &__btn {
    position: relative;
    margin-right: 3px;
    width: 18px;
    height: 18px;
    border: none;
    @include transition;
  }
  &__btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 2px solid transparent;
    @include transition;
  }
  &__btn-svg {
    width: 18px;
    height: 18px;
  }
  &__btn-svg rect,
  &__btn-svg path {
    @include transition;
  }
  &__label {
    width: 83%;
  }
  &__input {
    padding: 5px 10px;
    border: transparent;
    border-bottom: 1px solid var(--color-gray-fill);
    outline: none;
    width: 100%;
    color: var(--color-light-text);
    background-color: transparent;
    @include transition
  }
  &__input::placeholder {
    color: var(--color-light-text);
    opacity: 0.85;
  }
  &__input:hover {
    border-bottom: 1px solid var(--color-fill);
  }
  &__input:focus {
    border-bottom: 1px solid var(--color-light-fill);
  }
  &__btn {
    margin-right: 20px;
  }
  &__btn-svg:hover rect,
  &__btn-svg:hover path {
    fill: var(--color-fill)
  }
  &__btn:focus::after {
    border-color: var(--color-fill)
  }
  &__btn-svg:active rect,
  &__btn-svg:active path {
    fill: var(--color-dark-fill)
  }
}

/* scrollbar */
.dropdown .simplebar-content-wrapper {
  overflow: auto;
}
.dropdown .simplebar-track.simplebar-vertical {
  top: 0;
  right: -20px;
  width: 2px;
  background-color: black;
}
.dropdown .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  background-color: white;;
}
// отключение стандартной стилистики импута
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


@media (min-width: 480px) {
  .header {
    &__row-box {
      align-items: center;
    }
    &__row-up {
      padding-top: 29px;
      padding-bottom: 29px;
    }
    &__burger {
      width: 36px;
      height: 27px;
    }
    &__logo {
      margin-right: 10px;
      width: 187px;
      height: 42px;
    }
    &__nav {
      width: 100%;
    }
    &__search-toggle,
    &__toggle-svg {
      width: 27px;
      height: 27px;
    }
  }
  .nav {
    &__box {
      padding: 96px 49px;
    }
    &__link {
      font-size: 2em;
      line-height: 2em;
    }
    &__btn {
      padding: 15px 60px 15px 70px;
      font-size: 1.125em;
    }
  }
  .search {
    &__btn-svg,
    &__btn  {
      width: 27px;
      height: 27px;
    }
  }
}
@media (min-width: 769px) {
  .header {
    &__search {
      right: 3%;
      left: auto;
      width: 314px;
    }
    &__search-toggle:hover rect,
    &__search-toggle:hover path {
      fill: var(--color-fill);
    }
  }
  .nav {
    &__link:hover,
    &__btn:hover,
    &__btn:hover path {
      color: var(--color-light-fill);
      fill: var(--color-light-fill);
    }
    &__btn:hover path {
      color: var(--color-dark-fill);
      fill: var(--color-dark-fill);
    }
    &__link:hover::after,
    &__btn:hover::after {
      background-color: transparent;
    }
  }
  .search {
    &__btn {
      margin-right: 20px;
    }
    &__btn-svg,
    &__btn  {
      width: 27px;
      height: 27px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    &__search {
      right: 8%;
    }
  }
}

@media (min-width: 1480px) {
  .header {
    &__row-up,
    &__row-down {
      display: flex;
      justify-content: space-between;
    }
    &__row-up {
      padding-top: 30px;
      padding-bottom: 31px;
    }
    &__row-down {
      background-color: rgba(0, 0, 0, 0.4);
    }
    &__nav {
      position: relative;
      z-index: 1;
      width: calc(1250/1600 * 100%);
      opacity: 1;
    }
    &__logo {
      margin-right: 5px;
      width: 173px;
      height: 40px;
    }
    &__dropdown {
      display: flex;
    }
    &__burger,
    &__search-toggle {
      display: none;
    }
    &__search {
      margin-left: auto;
      position: relative;
      left: 0;
      padding: 0;
      width: calc(250/1600 * 100%);
      min-height: auto;
      background-color: transparent;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .nav {
    &__box {
      flex-direction: row;
      padding: 0;
      background-color: transparent;
      margin-top: 0;
      width: 100%;
      min-height: auto;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-right: auto;
      margin-bottom: 0;
      width: 100%;
      height: 100%;
    }
    &__item:not(:last-child) {
      margin-right: 5.35%;
    }

    &__link {
      font-weight: 600;
      font-size: 1.125em;
      line-height: 1.5em;
    }
    &__btn {
      margin-right: 0;
      padding: 0;
      font-size: 1.125em;
      border: transparent;
      border-radius: 0;
    }
    &__btn::after {
      border-radius: 0;
    }
  }
}

