@import '_mixin.scss';

.header {
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: var(--color-black);
  &__grid {
    display: flex;
    justify-content: space-between;
  }
  &__burger {
    position: relative;
    z-index: 3;
    width: 25px;
    height: 18px;
  }
  &__logo {
    width: 97px;
    height: 21px;
  }
  &__selects {
    display: none;
  }
  &__search-toggle {
    position: relative;
    z-index: 4;
    border: transparent;
    width: 18px;
    height: 18px;
    background-color: transparent;
  }
  &__toggle-svg {
    display: none;
    width: 18px;
    height: 18px;
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  grid-area: nav;
  width: 100%;
  color: var(--color-light-text);
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    padding: 48px 21px;
    width: 100%;
    min-height: 355px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transform: translateX(-500px);
  }
  &__item {
    margin-bottom: 30px;
  }
  &__link {
    @include transition;
  }
  &__link:hover {
    color: var(--colorOrange);
  }
  &__link:focus {
    color: var(--colorWhite);
    background-color: var(--colorOrange);
  }
  &__link:active {
    color: #CE4307;
    background-color: transparent;
  }
  &__btn {
    margin-right: auto;
    padding: 11px 32px;
    border: 2px solid var(--color-fill);
    border-radius: 100px;
    color: var(--color-light-text);
  }
  &__svg svg {
    width: 9px;
    height: 9px;
  }
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  padding: 40px 57px 20px;
  width: 100%;
  min-height: 75px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transform: translateY(-100px);
  &__box {
    display: flex;
    margin-top: 2px;
    padding: 48px 21px;
    width: 100%;
  }
  &__btn {
    margin-right: 3px;
    width: 18px;
    height: 18px;
    border-color: transparent;
    outline: none;
  }
  &__btn-svg {
    width: 18px;
    height: 18px;
  }
  &__label {
    width: 180px;
    border-bottom: 1px solid #C4C4C4;
  }
  &__input {
    padding: 5px 10px;
    border: transparent;
    outline: none;
    width: 100%;
    color: var(--color-light-text);
    background-color: transparent;
  }
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
