@import '_mixin.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__row-up {
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: var(--color-black);
  }
  &__row-down {
    background-color: transparent;
  }
  &__row-box {
    display: flex;
    justify-content: space-between;
  }
  &__burger {
    position: relative;
    z-index: 3;
    width: 25px;
    height: 18px;
  }
  &__logo {
    margin-right: 6px;
    width: 97px;
    height: 21px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__dropdown {
    display: none;
  }
  &__search-toggle {
    position: relative;
    z-index: 4;
    border: transparent;
    width: 18px;
    height: 18px;
    background-color: transparent;
  }
  &__toggle-svg {
    display: none;
    width: 18px;
    height: 18px;
  }
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  color: var(--color-light-text);
  &__box {
    display: flex;
    flex-direction: column;
    padding: 48px 21px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 2px;
    min-height: 355px;
    opacity: 0;
    transform: translateX(-1000px);
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__item {
    margin-bottom: 0;
  }
  &__link {
    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    color: inherit;
    @include transition;
  }
  &__link:hover {
    color: var(--colorOrange);
  }
  &__link:focus {
    color: var(--colorWhite);
    background-color: var(--colorOrange);
  }
  &__link:active {
    color: #CE4307;
    background-color: transparent;
  }
  &__btn {
    position: relative;
    z-index: 10;
    margin-right: auto;
    padding: 11px 20px 11px 35px;
    border: 2px solid var(--color-fill);
    border-radius: 100px;
    color: var(--color-light-text);
  }
  &__icon {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 13px;
    height: 13px;
  }
}

.dropdown {
  color: var(--color-light-text);
  &__btn {
    position: relative;
    padding: 16px;
    color: inherit;
  }
  &__icon-svg {
    width: 12px;
    height: 7px;
    transition: transform 0.3s;
    &_active {
      transform: scale(1, -1);
    }
  }
  &__box {
    display: none;
    position: absolute;
    padding: 40px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);;
  }
  &__scrollbar {
    width: 220px;
    height: 220px;
  }
  &__item {
    padding: 10px 14px;
    background-position: center;
    background-repeat: no-repeat;
    &_bg-1-1 {
      background-image: url('../img/header1-1.jpg');
    }
    &_bg-1-2 {
      background-image: url('../img/header1-2.jpg');
    }
    &_bg-1-3 {
      background-image: url('../img/header1-3.jpg');
    }
    &_bg-1-4 {
      background-image: url('../img/header1-4.jpg');
    }

    &_bg-2-1 {
      background-image: url('../img/header2-1.jpg');
    }
    &_bg-2-2 {
      background-image: url('../img/header2-2.jpg');
    }
    &_bg-2-3 {
      background-image: url('../img/header2-3.jpg');
    }
    &_bg-2-4 {
      background-image: url('../img/header2-4.jpg');
    }

    &_bg-3-1 {
      background-image: url('../img/header3-1.jpg');
    }
    &_bg-3-2 {
      background-image: url('../img/header3-2.jpg');
    }
    &_bg-3-3 {
      background-image: url('../img/header3-3.jpg');
    }
    &_bg-3-4 {
      background-image: url('../img/header3-4.jpg');
    }

    &_bg-4-1 {
      background-image: url('../img/header4-1.jpg');
    }
    &_bg-4-2 {
      background-image: url('../img/header4-2.jpg');
    }
    &_bg-4-3 {
      background-image: url('../img/header4-3.jpg');
    }
    &_bg-4-4 {
      background-image: url('../img/header4-4.jpg');
    }

    &_bg-5-1 {
      background-image: url('../img/header5-1.jpg');
    }
    &_bg-5-2 {
      background-image: url('../img/header5-2.jpg');
    }
    &_bg-5-3 {
      background-image: url('../img/header5-3.jpg');
    }
    &_bg-5-4 {
      background-image: url('../img/header5-4.jpg');
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__link {
    color: white;
  }
}
.search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  padding: 40px 57px 20px;
  width: 100vw;
  min-height: 75px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transform: translateY(-100px);
  &__box {
    display: flex;
    margin-top: 2px;
    padding: 48px 21px;
    width: 100%;
  }
  &__btn {
    margin-right: 3px;
    width: 18px;
    height: 18px;
    border-color: transparent;
    outline: none;
  }
  &__btn-svg {
    width: 18px;
    height: 18px;
  }
  &__label {
    width: 83%;
    border-bottom: 1px solid #C4C4C4;
  }
  &__input {
    padding: 5px 10px;
    border: transparent;
    outline: none;
    width: 100%;
    color: var(--color-light-text);
    background-color: transparent;
  }
}

/* scrollbar */
.simplebar-content-wrapper {
  overflow: auto;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  right: -20px;
  width: 2px;
  background-color: black;
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  background-color: white;;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


@media (min-width: 576px) {
  .header {
    &__row-box {
      align-items: center;
    }
    &__row-up {
      padding-top: 29px;
      padding-bottom: 29px;
    }
    &__burger {
      width: 36px;
      height: 27px;
    }
    &__logo {
      margin-right: 10px;
      width: 187px;
      height: 42px;
    }
    &__search-toggle,
    &__toggle-svg {
      width: 27px;
      height: 27px;
    }
  }
  .nav {
    width: 100%;
    &__box {
      padding: 96px 49px;
    }
    &__link {
      font-size: 2em;
      line-height: 2em;
      color: inherit;
      @include transition;
    }
    &__btn {
      padding: 15px 60px 15px 70px;
      font-size: 1.125em;
    }
    &__icon {
    left: 27%;
    }
  }
  .search {
    &__btn {
      margin-right: 20px;
    }
    &__btn-svg,
    &__btn  {
      width: 27px;
      height: 27px;
    }
  }
}

@media (min-width: 769px) {
  .nav {
    &__list {
    }
  }
  .search {
    position: absolute;
    right: 3%;
    left: auto;
    width: 314px;
    &__btn {
      margin-right: 20px;
    }
    &__btn-svg,
    &__btn  {
      width: 27px;
      height: 27px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    &__row-up,
    &__row-down {
      display: flex;
      justify-content: space-between;
    }
    &__row-down {
      background-color: rgba(0, 0, 0, 0.4);
    }
    &__dropdown {
      display: flex;
      justify-content: space-between;
    }
    &__burger,
    &__search-toggle {
      display: none;
    }
  }

  .nav {
    position: relative;
    z-index: 1;
    width: auto;
    &__list {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      padding: 0;
      width: 100%;
      min-height: auto;
      background-color: transparent;
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .search {
    position: relative;
    padding: 0;
    width: auto;
    min-height: auto;
    background-color: transparent;
    opacity: 1;
    transform: translateY(0px);
  }
}

