// burger
.burger {
  --burger-width: 25px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.burger:focus::after {
  opacity: 1;
}

// класс всплывающего предупреждения
.js-validate-error-label {
  background: transparent;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #FF5C00;
}

.contacts__map {
  padding: 0;
  width: auto;
  height: 320px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

// tooltip

.tooltip {
  position: relative;
  display: inline-block;
}

.marker {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.marker:focus path,
.marker:hover path {
  fill: var(--color-fill);
}

.tippy-box[data-theme~='castom-tooltip'] {
  max-width: 163px;
  padding: 7px 17px 8px 14px;
  border-radius: 0;
  text-align: center;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: var(--color-light-text);
  background-color: var(--color-fill);
}

.tippy-box[data-theme~='castom-tooltip'][data-placement^='top'] > .tippy-arrow::before,
.tippy-box[data-theme~='castom-tooltip'][data-placement^='right'] > .tippy-arrow::before,
.tippy-box[data-theme~='castom-tooltip'][data-placement^='bottom'] > .tippy-arrow::before,
.tippy-box[data-theme~='castom-tooltip'][data-placement^='left'] > .tippy-arrow::before {
  border-top-color: var(--color-fill);
}
