@import '_mixin.scss';

.progects {
  padding-top: 37px;
  padding-bottom: 46px;
  color: var(--color-text);
  &__title {
    margin-bottom: 12px;
  }
  &__text {
    margin-bottom: 8px;
    font-size: 1em;
    line-height: 2em;
  }
  &__link {
    color: var(--color-fill);
  }
  &__title-third {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 2em;
  }
  &__swiper-box {
    display: flex;
    justify-content: space-between;
    min-height: 65px;
  }
  &__swiper {
    width: 100%
  }
  &__slide {
    width: 450px;
    height: 150px;
  }
  &__slide-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    outline: 1px solid #CACACA;
    outline-offset: -1px;
  }
  &__slide img {
    opacity: 0.6;
    filter: grayscale(100%);
  }
  &__button {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
  }
  &__button,
  &__button svg{
    width: 30px;
    height: 30px;
  }
}
// переписывание классов библиотеки
.progects__swiper-box .progects__swiper {
  margin: 0 17px;
}

.progects .progects__slide,
.progects .progects__slide img {
  width: 195px;
  height: 65px;
}

@media (min-width: 480px) {
  .progects {
    padding-top: 64px;
    padding-bottom: 80px;
    &__text {
      margin-bottom: 20px;
    }
    &__title-third {
      margin-bottom: 21px;
      font-size: 1.5em;
    }

  }
}

@media (min-width: 750px) {
  .progects {
    &__slide img {
      height: 100%;
      object-fit: contain;
    }
  }
  .progects__swiper-box .progects__swiper {
    margin: 0 23px;
  }
  .progects .progects__slide,
  .progects .progects__slide img {
    width: 263px;
    height: 106px;
  }
}

@media (min-width: 769px) {
  .progects {
    &__text {
      margin-bottom: 12px;
    }
    &__title-third {
      margin-bottom: 15px;
    }
  }

  .progects .progects__slide,
  .progects .progects__slide img {
    width: 384px;
    height: 128px;
  }
}

