@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-regular"), url("../fonts/open-sans-400.woff2") format("woff2"), url("../fonts/open-sans-400.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("open-sans-bold"), url("../fonts/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans-600.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-extrabold"), url("../fonts/open-sans-700.woff2") format("woff2"), url("../fonts/open-sans-700.woff") format("woff");
}

:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-very-light-fill: #D1A9F0;
  --color-light-fill: #C283F3;
  --color-fill: #9D5CD0;
  --color-dark-fill: #7943A4;
  --color-light-text: #fff;
  --color-gray-text: #999;
  --color-text: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html body {
  font-family: 'open-sans', sans-serif;
}

div .active {
  display: block;
}

div .deactivate {
  display: none;
}

img {
  width: 100%;
}

.sprite {
  display: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  border-color: transparent;
  background-color: transparent;
}

.burger {
  --burger-width: 25px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.burger:focus::after {
  opacity: 1;
}

/* form */
.castom-form {
  margin-right: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.label {
  position: relative;
}

.js-validate-error-label {
  background: transparent;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #FF5C00;
}

.contacts .map {
  padding: 0;
  width: auto;
  height: 320px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.header {
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: var(--color-black);
}

.header__grid {
  display: flex;
  justify-content: space-between;
}

.header__burger {
  position: relative;
  z-index: 3;
  width: 25px;
  height: 18px;
}

.header__logo {
  width: 97px;
  height: 21px;
}

.header__selects {
  display: none;
}

.header__search-toggle {
  position: relative;
  z-index: 4;
  border: transparent;
  width: 18px;
  height: 18px;
  background-color: transparent;
}

.header__toggle-svg {
  display: none;
  width: 18px;
  height: 18px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  grid-area: nav;
  width: 100%;
  color: var(--color-light-text);
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  padding: 48px 21px;
  width: 100%;
  min-height: 355px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transform: translateX(-500px);
}

.nav__item {
  margin-bottom: 30px;
}

.nav__link {
  transition-property: border, color, background-color, transform, fill;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.nav__link:hover {
  color: var(--colorOrange);
}

.nav__link:focus {
  color: var(--colorWhite);
  background-color: var(--colorOrange);
}

.nav__link:active {
  color: #CE4307;
  background-color: transparent;
}

.nav__btn {
  margin-right: auto;
  padding: 11px 32px;
  border: 2px solid var(--color-fill);
  border-radius: 100px;
  color: var(--color-light-text);
}

.nav__svg svg {
  width: 9px;
  height: 9px;
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  padding: 40px 57px 20px;
  width: 100%;
  min-height: 75px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transform: translateY(-100px);
}

.search__box {
  display: flex;
  margin-top: 2px;
  padding: 48px 21px;
  width: 100%;
}

.search__btn {
  margin-right: 3px;
  width: 18px;
  height: 18px;
  border-color: transparent;
  outline: none;
}

.search__btn-svg {
  width: 18px;
  height: 18px;
}

.search__label {
  width: 180px;
  border-bottom: 1px solid #C4C4C4;
}

.search__input {
  padding: 5px 10px;
  border: transparent;
  outline: none;
  width: 100%;
  color: var(--color-light-text);
  background-color: transparent;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-regular"), url("../fonts/open-sans-400.woff2") format("woff2"), url("../fonts/open-sans-400.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("open-sans-bold"), url("../fonts/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans-600.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-extrabold"), url("../fonts/open-sans-700.woff2") format("woff2"), url("../fonts/open-sans-700.woff") format("woff");
}

:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-very-light-fill: #D1A9F0;
  --color-light-fill: #C283F3;
  --color-fill: #9D5CD0;
  --color-dark-fill: #7943A4;
  --color-light-text: #fff;
  --color-gray-text: #999;
  --color-text: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html body {
  font-family: 'open-sans', sans-serif;
}

div .active {
  display: block;
}

div .deactivate {
  display: none;
}

img {
  width: 100%;
}

.sprite {
  display: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  border-color: transparent;
  background-color: transparent;
}

.hero {
  min-height: 310px;
}

.hero__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light-text);
}

.hero__header {
  text-align: center;
}

.hero__text {
  text-align: center;
}

.hero__button {
  padding: 10px 18px;
  border: 3px solid var(--color-fill);
  border-radius: 100px;
  color: inherit;
  background-color: var(--color-fill);
}

.hero__swiper {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 355px;
}

.hero__swiper-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__swiper-slide_background-one {
  background-image: url("../img/hero-one-320.jpg");
}

@media (min-resolution: 2dppx) {
  .hero__swiper-slide_background-one {
    background-image: url("../img/hero-one-320@2x.jpg");
  }
}

.hero__swiper-slide_background-two {
  background-image: url("../img/hero-two-320.jpg");
}

@media (min-resolution: 2dppx) {
  .hero__swiper-slide_background-two {
    background-image: url("../img/hero-two-320@2x.jpg");
  }
}

.hero__swiper-slide_background-two {
  background-image: url("../img/hero-two-320.jpg");
}

@media (min-resolution: 2dppx) {
  .hero__swiper-slide_background-two {
    background-image: url("../img/hero-two-320@2x.jpg");
  }
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__title {
  margin-bottom: 12px;
}

.gallery {
  padding-top: 50px;
  min-height: 800px;
  color: var(--color-light-text);
  background-image: url("../img/gallery-bg-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__title {
  margin-bottom: 12px;
  color: inherit;
}

.gallery__label {
  margin-bottom: 15px;
}

.gallery__selects {
  margin-bottom: 30px;
  padding: 5px 15px;
  width: 100%;
  border: 1px solid var(--color-light-text);
  border-radius: 5px;
  color: inherit;
  background-color: transparent;
}

.gallery__checkbox {
  max-width: 176px;
  border-radius: 10px;
  color: var(--color-light-text);
}

.gallery__label {
  position: relative;
  padding-left: 21px;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
}

.gallery__label:hover {
  color: var(--color-light-fill);
}

.gallery__input {
  display: none;
}

.gallery__input + span {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 1px solid var(--color-light-text);
}

.gallery__input:checked + span,
.gallery__label:hover span,
.gallery__input + span:hover {
  border-color: var(--color-light-fill);
}

.gallery__input + span::before {
  content: '\00B7';
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 30px;
  line-height: 0;
  opacity: 0;
  color: var(--color-light-fill);
  transform: opacity .3 ease-in-out;
}

.gallery__input:checked + span::before {
  opacity: 1;
}

.gallery__swiper {
  margin-bottom: 20px;
}

.gallery__slide {
  width: 100%;
  min-height: 367px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__slide_bg-one {
  background-image: url("../img/gallery-one-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-one {
    background-image: url("../img/gallery-one-320@2x.jpg");
  }
}

.gallery__slide_bg-two {
  background-image: url("../img/gallery-two-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-two {
    background-image: url("../img/gallery-two-320@2x.jpg");
  }
}

.gallery__slide_bg-three {
  background-image: url("../img/gallery-three-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-three {
    background-image: url("../img/gallery-three-320@2x.jpg");
  }
}

.gallery__slide_bg-four {
  background-image: url("../img/gallery-four-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-four {
    background-image: url("../img/gallery-four-320@2x.jpg");
  }
}

.gallery__slide_bg-five {
  background-image: url("../img/gallery-five-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-five {
    background-image: url("../img/gallery-five-320@2x.jpg");
  }
}

.gallery__slide_bg-six {
  background-image: url("../img/gallery-six-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-six {
    background-image: url("../img/gallery-six-320@2x.jpg");
  }
}

.gallery__swiper-nav-box {
  display: flex;
  justify-content: center;
}

.gallery__button-next, .gallery__button-prev,
.gallery__button-next svg,
.gallery__button-prev svg {
  width: 30px;
  height: 30px;
}

.gallery__pagination {
  margin: 0 11px;
}

.gallery__swiper-nav-box .gallery__pagination {
  position: relative;
  bottom: 0;
  padding-top: 6px;
  width: auto;
}

.choices {
  width: 100%;
}

.choices[data-type*=select-one]:after {
  margin-top: -6px;
  border-width: 0px;
  border-right: 1px solid var(--color-light-text);
  border-top: 1px solid var(--color-light-text);
  height: 8px;
  width: 8px;
  transform: rotate(135deg);
  transition: transform 0.3s;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -3px;
  border-width: 0px;
  border-right: 1px solid var(--color-light-text);
  border-top: 1px solid var(--color-light-text);
  transform: scale(1, -1) rotate(135deg);
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown .choices__list .is-selected {
  display: none;
}

.choices__inner,
.is-open .choices__inner {
  position: relative;
  border: 1px solid var(--color-light-text);
  padding: 3px 10.5px 5px 13.75px;
  border-radius: 6px;
  height: 40px;
  min-height: 36px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-text);
  background-color: transparent;
  transition: border var(--color-fill), background-color var(--color-fill);
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border: 1px solid var(--color-light-text);
}

.choices__list--dropdown,
.is-open .choices__list--dropdown {
  top: 103%;
  z-index: 3;
  border: 1px solid var(--color-gray-text);
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  line-height: 32px;
  color: var(--color-gray-text);
  background-color: var(--color-black);
}

.choices__list--dropdown .choices__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 2px 20px;
  transition: background-color 0.3, color 0.3, border 0.3;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:not(:first-child),
.choices__list--dropdown .choices__item--selectable.is-highlighted + .choices__item {
  border-top: 1px solid var(--color-gray-text);
}

.choices__list--dropdown .choices__item:not(:first-child),
.choices__list--dropdown .choices__item + .choices__item {
  border-top: 1px solid transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--color-light-text);
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--color-text);
}

.catalog__title {
  margin-bottom: 12px;
}

.catalog__accordion {
  margin-bottom: 50px;
}

.catalog-accordion__item {
  border: transparent;
}

.catalog-accordion__button {
  position: relative;
  border: transparent;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  background-color: transparent;
}

.catalog-accordion__btn-svg {
  position: absolute;
  right: 0;
}

.catalog-accordion__button:not(.collapsed) {
  border-color: var(--color-darck-fill);
  background-color: transparent;
}

.catalog-accordion__body {
  padding: 20px 0;
}

.catalog-accordion__link {
  margin-bottom: 10px;
}

.catalog-accordion__link_active {
  color: var(--color-fill);
}

.catalog-accordion__plug {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 155px;
  min-height: 335px;
}

.catalog-accordion__plug-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 130px;
  border: 2px solid #B7B7B7;
  background-color: transparent;
}

.catalog-accordion__plug-img::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  background-color: #B7B7B7;
}

.catalog-accordion__plug-title {
  margin-bottom: 15px;
}

.catalog-accordion__plug-text {
  margin-bottom: 5px;
}

.catalog-accordion__plug-link {
  color: var(--color-fill);
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.catalog-tab__img {
  min-width: 290px;
  min-height: 181px;
}

.catalog-tab__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-tab__img {
  margin-bottom: 20px;
  width: 290px;
  height: 181px;
}

.catalog-tab__title {
  margin-bottom: 20px;
}

.catalog-tab__info {
  margin-bottom: 5px;
  color: var(--color-gray-text);
}

.events__title {
  margin-bottom: 12px;
}

.events__wrapper {
  margin-bottom: 20px;
}

.events__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 217px 23px 50px;
  border: 1px solid #CACACA;
  min-height: 683px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

.events__card_bg-one {
  background-image: url("../img/events-one-320.jpg");
}

@media (min-resolution: 2dppx) {
  .events__card_bg-one {
    background-image: url("../img/events-one-320@2x.jpg");
  }
}

.events__card_bg-two {
  background-image: url("../img/events-two-320.jpg");
}

@media (min-resolution: 2dppx) {
  .events__card_bg-two {
    background-image: url("../img/events-two-320@2x.jpg");
  }
}

.events__card_bg-three {
  background-image: url("../img/events-three-320.jpg");
}

@media (min-resolution: 2dppx) {
  .events__card_bg-three {
    background-image: url("../img/events-three-320@2x.jpg");
  }
}

.events__card_bg-four {
  background-image: url("../img/events-four-320.jpg");
}

@media (min-resolution: 2dppx) {
  .events__card_bg-four {
    background-image: url("../img/events-four-320@2x.jpg");
  }
}

.events__card_bg-five {
  background-image: url("../img/events-five-320.jpg");
}

@media (min-resolution: 2dppx) {
  .events__card_bg-five {
    background-image: url("../img/events-five-320@2x.jpg");
  }
}

.events__info {
  margin-bottom: 10px;
  text-align: right;
  color: var(--color-gray-text);
}

.events__card-title {
  margin-bottom: 5px;
}

.events__link {
  margin-right: auto;
  border-bottom: 1px solid var(--color-fill);
  color: var(--color-fill);
}

.events .events__pagination {
  position: relative;
}

.progects {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--color-text);
}

.progects__title {
  margin-bottom: 12px;
}

.progects__text {
  margin-bottom: 20px;
}

.progects__link {
  color: var(--color-fill);
}

.progects__title-third {
  margin-bottom: 20px;
}

.progects__swiper-box {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
}

.progects__swiper {
  width: 100%;
}

.progects__slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.progects__slide_bg-one {
  background-image: url("../img/progects-grey-one.svg");
}

.progects__slide_bg-two {
  background-image: url("../img/progects-grey-two.svg");
}

.progects__slide_bg-three {
  background-image: url("../img/progects-grey-three.svg");
}

.progects__slide_bg-four {
  background-image: url("../img/progects-grey-four.svg");
}

.progects__slide_bg-five {
  background-image: url("../img/progects-grey-five.svg");
}

.progects__slide_bg-six {
  background-image: url("../img/progects-grey-six.svg");
}

.progects__slide_bg-seven {
  background-image: url("../img/progects-grey-seven.svg");
}

.progects__slide_bg-eight {
  background-image: url("../img/progects-grey-eight.svg");
}

.progects__slide_bg-nine {
  background-image: url("../img/progects-grey-nine.svg");
}

.progects__button {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
}

.progects__button,
.progects__button svg {
  width: 30px;
  height: 30px;
}

.progects__swiper-box .progects__swiper {
  margin: 0 17px;
}

.contacts__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__address {
  margin-bottom: 20px;
}

.contacts__form {
  margin-bottom: 20px;
}

.contacts__label {
  margin-bottom: 20px;
}

.contacts__input {
  padding: 5px 20px;
  border: 1px solid var(--color-text);
  border-radius: 100px;
  width: 100%;
}

.contacts__input::placeholder {
  color: var(--color-gray-text);
}

.contacts__btn {
  margin-right: auto;
  padding: 12px 35px;
  border: 2px solid var(--color-fill);
  border-radius: 100px;
  color: var(--color-fill);
}

.contacts__connection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 20px;
}

.contacts__connection-title {
  margin-bottom: 10px;
}

.contacts__connection-list {
  display: flex;
}

.contacts__connection-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__connection-link, .contacts__connection-svg {
  width: 50px;
  height: 50px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--color-black);
}

.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 210px;
}

.footer__svg {
  width: 50px;
  height: 50px;
}

.footer__logo {
  width: 97px;
  height: 22px;
}
/*# sourceMappingURL=style.css.map */