@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-regular"), url("../fonts/open-sans-400.woff2") format("woff2"), url("../fonts/open-sans-400.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("open-sans-bold"), url("../fonts/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans-600.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-extrabold"), url("../fonts/open-sans-700.woff2") format("woff2"), url("../fonts/open-sans-700.woff") format("woff");
}

:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-very-light-fill: #D1A9F0;
  --color-light-fill: #C283F3;
  --color-fill: #9D5CD0;
  --color-dark-fill: #7943A4;
  --color-light-text: #fff;
  --color-gray-text: #999;
  --color-text: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html body {
  font-family: 'open-sans', sans-serif;
}

div .active {
  display: block;
}

div .deactivate {
  display: none;
}

img {
  width: 100%;
}

.sprite {
  display: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  background-color: transparent;
}

.burger {
  --burger-width: 25px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.burger:focus::after {
  opacity: 1;
}

/* form */
.castom-form {
  margin-right: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-weight: 400;
}

.label {
  position: relative;
}

.input {
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #FF5C00;
  background-color: #FFFFFF;
}

.input::placeholder {
  color: #999;
}

.js-validate-error-label {
  background: transparent;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #FF5C00;
}

.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #FF5C00;
  cursor: pointer;
  transition: background-color .3s ease, opacity .3s ease;
}

.form__btn:focus-visible {
  opacity: 0.8;
}

.form__btn:hover {
  background-color: #f87c34;
}

.form__btn:active {
  background-color: #ad4001;
}

/* map */
.map {
  min-width: 100%;
  min-height: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.header {
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: var(--color-black);
}

.header__grid {
  display: flex;
  justify-content: space-between;
}

.header__burger {
  width: 25px;
  height: 18px;
}

.header__logo {
  width: 97px;
  height: 21px;
}

.header__selects {
  display: none;
}

.header__search-toggle {
  border: transparent;
  width: 18px;
  height: 18px;
  background-color: transparent;
}

.header__toggle-open {
  width: 18px;
  height: 18px;
}

.nav {
  position: absolute;
  opacity: 0;
  transform: translateX(-500px);
}

.nav__btn {
  display: none;
}

.search {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-regular"), url("../fonts/open-sans-400.woff2") format("woff2"), url("../fonts/open-sans-400.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("open-sans-bold"), url("../fonts/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans-600.woff") format("woff");
}

@font-face {
  font-family: 'open-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("open-sans-extrabold"), url("../fonts/open-sans-700.woff2") format("woff2"), url("../fonts/open-sans-700.woff") format("woff");
}

:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-very-light-fill: #D1A9F0;
  --color-light-fill: #C283F3;
  --color-fill: #9D5CD0;
  --color-dark-fill: #7943A4;
  --color-light-text: #fff;
  --color-gray-text: #999;
  --color-text: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html body {
  font-family: 'open-sans', sans-serif;
}

div .active {
  display: block;
}

div .deactivate {
  display: none;
}

img {
  width: 100%;
}

.sprite {
  display: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  background-color: transparent;
}

.hero {
  min-height: 310px;
}

.hero__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light-text);
}

.hero__header {
  text-align: center;
}

.hero__text {
  text-align: center;
}

.hero__button {
  padding: 10px 18px;
  border: 3px solid var(--color-fill);
  border-radius: 100px;
  color: inherit;
  background-color: var(--color-fill);
}

.hero__swiper {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 355px;
}

.hero__swiper-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__swiper-slide_background-one {
  background-image: url("../img/hero-one-320.jpg");
}

@media (min-resolution: 2dppx) {
  .hero__swiper-slide_background-one {
    background-image: url("../img/hero-one-320@2x.jpg");
  }
}

.hero__swiper-slide_background-two {
  background-image: url("../img/hero-two-320.jpg");
}

@media (min-resolution: 2dppx) {
  .hero__swiper-slide_background-two {
    background-image: url("../img/hero-two-320@2x.jpg");
  }
}

.hero__swiper-slide_background-two {
  background-image: url("../img/hero-two-320.jpg");
}

@media (min-resolution: 2dppx) {
  .hero__swiper-slide_background-two {
    background-image: url("../img/hero-two-320@2x.jpg");
  }
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__title {
  margin-bottom: 12px;
}

.gallery {
  padding-top: 50px;
  min-height: 800px;
  color: var(--color-light-text);
  background-image: url("../img/gallery-bg-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__title {
  margin-bottom: 12px;
  color: inherit;
}

.gallery__label {
  margin-bottom: 15px;
}

.gallery__selects {
  margin-bottom: 30px;
  padding: 5px 15px;
  width: 100%;
  border: 1px solid var(--color-light-text);
  border-radius: 5px;
  color: inherit;
  background-color: transparent;
}

.gallery__option {
  color: inherit;
  background-color: transparent;
}

.gallery__slide {
  width: 100%;
  min-height: 367px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__slide_bg-one {
  background-image: url("../img/gallery-one-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-one {
    background-image: url("../img/gallery-one-320@2x.jpg");
  }
}

.gallery__slide_bg-two {
  background-image: url("../img/gallery-two-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-two {
    background-image: url("../img/gallery-two-320@2x.jpg");
  }
}

.gallery__slide_bg-three {
  background-image: url("../img/gallery-three-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-three {
    background-image: url("../img/gallery-three-320@2x.jpg");
  }
}

.gallery__slide_bg-four {
  background-image: url("../img/gallery-four-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-four {
    background-image: url("../img/gallery-four-320@2x.jpg");
  }
}

.gallery__slide_bg-five {
  background-image: url("../img/gallery-five-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-five {
    background-image: url("../img/gallery-five-320@2x.jpg");
  }
}

.gallery__slide_bg-six {
  background-image: url("../img/gallery-six-320.jpg");
}

@media (min-resolution: 2dppx) {
  .gallery__slide_bg-six {
    background-image: url("../img/gallery-six-320@2x.jpg");
  }
}

.catalog {
  padding-top: 50px;
  color: var(--color-text);
}

.catalog__title {
  margin-bottom: 12px;
}

.catalog__accordion {
  margin-bottom: 50px;
}

.catalog-accordion__item {
  border: transparent;
}

.catalog-accordion__button {
  border: transparent;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  background-color: transparent;
}

.catalog-accordion__button:not(.collapsed) {
  border-color: var(--color-darck-fill);
  background-color: transparent;
}

.catalog-accordion__body {
  padding: 20px 0;
}

.catalog-accordion__link {
  margin-bottom: 10px;
}

.catalog-accordion__link_active {
  color: var(--color-fill);
}

.catalog-accordion__plug {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 155px;
  min-height: 335px;
}

.catalog-accordion__plug-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 130px;
  border: 2px solid #B7B7B7;
  background-color: transparent;
}

.catalog-accordion__plug-img::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  background-color: #B7B7B7;
}

.catalog-accordion__plug-title {
  margin-bottom: 15px;
}

.catalog-accordion__plug-text {
  margin-bottom: 5px;
}

.catalog-accordion__plug-link {
  color: var(--color-fill);
}

.catalog-tab__img {
  min-width: 290px;
  min-height: 181px;
}

.catalog-tab__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-tab__img {
  margin-bottom: 20px;
  width: 290px;
  height: 181px;
}

.catalog-tab__title {
  margin-bottom: 20px;
}

.catalog-tab__info {
  margin-bottom: 5px;
  color: var(--color-gray-text);
}
/*# sourceMappingURL=style.css.map */